@import url('https://fonts.googleapis.com/css2?family=Alata&family=Boogaloo&family=Montserrat:wght@400;500;600;700&display=swap');


body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Home page*/

.home-container-fluid {
    background: radial-gradient(#ffccff, #ff4cff);
    height: 100vh;
}

.page-title {
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
    font-size: 7em;
    padding-top: 60px;
    color: #00ff00;
    text-shadow: -3px -3px 5px #004c00;
}

.subtitle {
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
    font-size: 4em;
    color: #00ff00;
    text-shadow: -3px -3px 5px #004c00;
    padding-bottom: 20px;
}

.welcome-text {
    color: #260026;
    font-weight: 500;
    font-size: 18px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.home-page-btn {
    padding-top: 30px;
}

.play-btn,
.start-btn {
    margin-top: 20px;
    border-radius: 7px;
    background-color: #00ff00;
    color: #ff00ff;
    border: 3px solid #00ff00;
    font-weight: bold;
    font-size: 1.75em;
    font-family: 'Boogaloo', cursive;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
}

.play-btn {
    margin-right: 15px;
}

.start-btn {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.start-btn a {
    color: #ff00ff;
}

.start-btn:hover {
    text-decoration: none;
    color: #ff00ff;
}

/*Modal*/

.modal-header {
    border-bottom: 1px solid #ff00ff;
}

.modal-title {
    text-align: center;
    font-weight: bold;
    font-family: 'Boogaloo', cursive;
    font-size: 2.25em;
    margin: auto;
    color: #cc00cc;
}

.modal-title i {
    text-shadow: -3px -3px 3px #800080;
    color: #ff00ff;
}

.modal-content {
    text-align: center;
    background: radial-gradient(#99ff99, #98e070);
    color: #ff00ff;
    font-weight: 600;
    padding-top: 10px;
}

.rules {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.rules i {
    color: #cc00cc;
}

.modal-btn {
    margin: auto;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #cc00cc;
    border-radius: 7px;
    border: 3px solid #ff00ff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Boogaloo', cursive;
    text-decoration: none;
    cursor: pointer;
    color: #00ff00;
    width: 90px;
}

.modal-btn:hover {
    color: #00ff00;
    text-decoration: none;
}

.modal-btn a {
    color: #00ff00;
}


/*Overlays*/

.win-overlay,
.lose-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 1;
}

.win-title,
.lose-title {
    font-size: 7em;
    text-align: center;
    margin: auto;
    padding-top: 150px;
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
    text-transform: uppercase;
}

.win-title {
    color: #00ff00;
}

.lose-title {
    color: #cc00cc;
}

.star-eyes,
.sad-face {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

.fa-grin-stars {
    color: #00ff00;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-home,
.play-again-btn {
    border-radius: 7px;
    background-color: #ff00ff;
    color: #00ff00;
    border: 3px solid #ff00ff;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Boogaloo', cursive;
    cursor: pointer;
    width: 110px;
}

.btn-home {
    margin-left: 10px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.btn-home a {
    color: #00ff00;
}

.btn-home:hover {
    text-decoration: none;
    color: #00ff00;
}

.play-again-btn {
    margin-right: 10px;
}


/*Animations*/
.fa-star {
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(.7);
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(.7);
    }
}


.fa-frown-open,
.fa-grin-stars {
    margin-left: 2px;
    margin-right: 2px;
    animation: spin 1s linear infinite;
}

.reverse {
    animation: spin 1s linear infinite reverse;
}

@keyframes spin {

    0%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-90deg);
    }

    75% {
        transform: rotate(90deg);
    }
}



/*Game Info*/

.game-container-fluid {
    background: radial-gradient(#e0f3e0, #98e070);
    color: #ff00ff;
    font-weight: 700;
    height: 100vh;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    padding-top: 25px;
}

.game-counter,
.game-timer {
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 2em;
    font-family: 'Boogaloo', cursive;
}

.game-counter {
    margin-left: 240px;
}

.game-timer {
    margin-left: 120px;
}

.icon-container {
    display: flex;
    margin-left: 0;
    padding-left: 20px;
}

.restart-btn {
    margin-left: 45px;
}

.restart-btn,
.home-btn {
    border-radius: 50%;
    margin-top: 15px;
    border-color: #ff00ff;
    background-color: #ff00ff;
    color: #32ff32;
    position: absolute;
    cursor: pointer;
}

.fa-home {
    font-size: 22px;
    padding: 4px;
}

.home-btn {
    margin-left: 5px;
}

.home-btn a {
    color: #32ff32;
}


/*Game Board*/

#grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 7px;
    justify-content: center;
    perspective: 1000px;
    padding-bottom: 20px;
    padding-top: 25px;
}

.card {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #00ff00;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .4s ease-in-out;
    cursor: pointer;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 125px;
    height: 125px;
}

.card-front {
    transform: rotateY(180deg);
}

/*Footers*/

.home-footer,
.game-footer {
    position: fixed;
    height: 35px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.home-footer {
    background-color: #00ff00;
    color: #ff00ff;
}

.footer-text {
    padding-top: 7px;
    font-weight: bold;
    margin: auto
}

.game-footer {
    background-color: #ff00ff;
    color: #00ff00;
}

.name {
    font-family: 'Boogaloo', cursive;
    font-size: 18px;
}

/*Media Queries*/


/*mobile screens*/
@media only screen and (max-width: 600px) {

    .home-container-fluid {
        background: radial-gradient(#ffccff, #ff4cff);
    }

    .page-title {
        padding-top: 25px;
        font-size: 4em;
    }

    .welcome-text {
        font-size: 14px;
        padding-top: 25px;
    }

    .win-title,
    .lose-title {
        font-size: 5em;
    }

    .game-info-container {
        display: flex;
        padding-top: 20px;
    }

    .game-counter,
    .game-timer {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 15px;
        font-size: 20px;
    }

    .game-counter {
        margin-left: 130px;
    }

    .game-timer {
        margin-left: 25px;
    }

    .restart-btn,
    .home-btn {
        border-radius: 50%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #grid {
        margin-top: 10px;
        padding-top: 5px;
        grid-template-columns: repeat(4, auto);
        grid-gap: 2px;
    }

    .card {
        max-height: 80px;
        max-width: 80px;
        border: 2px solid #ff00ff;
    }

    .home-footer,
    .game-footer {
        height: 35px;
        width: 100%;
    }

    .home-footer {
        bottom: 0;
    }


    .home-page-btn {
        position: relative;
        top: -27px;
    }

    .hide {
        display: none;
    }
}

/*tablet screens*/
@media only screen and (min-width: 700px) and (max-width: 800px) {
    .welcome-text {
        color: #260026;
        font-weight: 500;
        font-size: 18px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .card {
        max-height: 120px;
        max-width: 120px;
        border: 2px solid #ff00ff;
        grid-gap: 3px;
    }
}

/*@media only screen and (orientation: landscape) {
    .home-container-fluid {
        background: radial-gradient(#ffccff, #ff4cff);

    }

    #grid {
        grid-template-columns: repeat(8, auto);
        grid-gap: 2px;
    }

    .card {
        max-height: 80px;
        max-width: 80px;
        border: 2px solid #ff00ff;
    }
} */